.navbar-toggler {
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
    border-radius: 6px;
}

.navbar-toggler:hover {
    background-color: rgba(57, 63, 225, 0.15);
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(57, 63, 225, 0.4);
}

.nav-link {
    cursor: pointer;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 10px;
    color: #333;
    margin-bottom: 2px;
}

.nav-link:hover,
.nav-link.active {
    background: linear-gradient(to right, #393fe1, #4f59f5);
    color: #fff !important;
}

.navbar-toggler {
    outline: none;
    box-shadow: none;
}

.offcanvas {
    width: 280px;
}

.details h6 {
    font-size: 1rem;
}

.details small {
    font-size: 0.85rem;
}

.logout-icon {
  font-size: 30px;
  transition: color 0.2s ease, transform 0.2s ease;
}

.logout-icon:hover {
  color: #dc3545;
  transform: scale(1.2);
  cursor: pointer;
  font-size: 35px;
}