<ul class="nav nav-tabs nav-fill">

  <li class="nav-item">
    <button class="nav-link"
            [class.active]="activeTab === 'all'"
            (click)="activeTab = 'all'">
      All Users
    </button>
  </li>

  <li class="nav-item">
    <button class="nav-link"
            [class.active]="activeTab === 'admins'"
            (click)="activeTab = 'admins'">
      Admins
    </button>
  </li>

  <li class="nav-item">
    <button class="nav-link"
            [class.active]="activeTab === 'doctors'"
            (click)="activeTab = 'doctors'">
      Doctors
    </button>
  </li>

  <li class="nav-item">
    <button class="nav-link"
            [class.active]="activeTab === 'staffs'"
            (click)="activeTab = 'staffs'">
      Staffs
    </button>
  </li>

  <li class="nav-item">
    <button class="nav-link"
            [class.active]="activeTab === 'clients'"
            (click)="activeTab = 'clients'">
      Clients
    </button>
  </li>

</ul>
<div class="mt-4">

  <app-all *ngIf="activeTab === 'all'"></app-all>

  <app-admins *ngIf="activeTab === 'admins'"></app-admins>

  <app-doctors *ngIf="activeTab === 'doctors'"></app-doctors>

  <app-staffs *ngIf="activeTab === 'staffs'"></app-staffs>

  <app-clients *ngIf="activeTab === 'clients'"></app-clients>

</div>