<div class="chat-container">
    <!-- Left Panel -->
    <div class="chat-requests" *ngIf="!(role === 'patient' && sessionId)">
        <div class="request-header">Chats</div>
        <div class="chat-requests-body">
            <ul class="request-list">
                <li *ngFor="let user of chatRequests" class="request-item" [class.active]="userId === activeRequest"
                    (click)="selectRequest(user)">
                    {{ user.userId }}
                </li>
                <div *ngIf="chatRequests.length === 0 && role !== 'patient'" class="no-requests-message">
                    No active chat requests.
                </div>
            </ul>
            <div *ngIf="role === 'patient'" class="request-chat-button-wrapper my-3">
                <button (click)="requestChat()" class="btn btn-primary">Request Chat</button>
            </div>
        </div>
    </div>

    <!-- Right Panel -->
    <div class="chat-screen"  [ngClass]="{'full-width': role === 'patient' && sessionId}">
        <!-- Header -->
        <div class="chat-header">
            <div class="user-info">
                <span class="user-name">{{ selectedUser.name }}</span>
                <span class="user-status">{{ selectedUser.status }}</span>
            </div>
        </div>

        <!-- Messages -->
        <div #messagesEnd class="chat-messages">
            <div *ngFor="let msg of messages" class="message" [ngClass]="msg.type">
                {{ msg.text }}
            </div>
            <div *ngIf="selectedUser.name && messages.length === 0" class="no-messages-message">
                Start a conversation!
            </div>
            <div *ngIf="!selectedUser.name && role !== 'patient'" class="no-chat-selected-message">
                Select a chat to view messages.
            </div>
        </div>

        <!-- Input -->
        <div class="chat-input">
            <input type="text" placeholder="Type a message..." [(ngModel)]="newMessage"
                (keydown.enter)="sendMessage()" />
            <button (click)="sendMessage()">
                <i class="send-icon">&#9658;</i>
            </button>
        </div>
    </div>
</div>