<div class="container-fluid my-4">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card dashboard-card p-3">
                <div class="d-flex align-items-center">
                    <div class="icon-box me-3">
                        <i class="bi bi-currency-exchange"></i>
                    </div>
                    <div>
                        <div class="card-title mb-1">Total Earnings</div>
                        <div class="card-text">₹120,500</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3">
                <div class="d-flex align-items-center">
                    <div class="icon-box me-3">
                        <i class="bi bi-hospital"></i>
                    </div>
                    <div>
                        <div class="card-title mb-1">Total Patients</div>
                        <div class="card-text">1,000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3">
                <div class="d-flex align-items-center">
                    <div class="icon-box me-3">
                        <i class="bi bi-journal-arrow-up"></i>
                    </div>
                    <div>
                        <div class="card-title mb-1">Total Bookings</div>
                        <div class="card-text">1,000</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card dashboard-card p-3">
                <div class="d-flex align-items-center">
                    <div class="icon-box me-3">
                        <i class="bi bi-person-badge"></i>
                    </div>
                    <div>
                        <div class="card-title mb-1">Total Doctors</div>
                        <div class="card-text">100</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-6">
            <div class="card dashboard-card p-4 h-100">
                <h5 class="mb-3">Booking Distribution</h5>
                <div class="doughnutchart">
                    <canvas #doughnutCanvas></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card dashboard-card p-4 h-100">
                <h5 class="mb-3">Other Insights</h5>
                <p>Put any additional content here...</p>
            </div>
        </div>
    </div>

</div>